<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>File page</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="content">
        <div class="file-details">
            <h1>File Details</h1>
    <div class="file-grid">
        <div class="file-grid-item">
            <div class="file-name-left">
                <i data-lucide="file" class="icon" id="file-icon"></i>
                <label for="file-icon"><b>File Name:</b></label>
            </div>
        </div>
        <div class="file-grid-item">
            <span><%- file.name %></span>
        </div>
        <div class="file-grid-item">
            <div class="file-folder-left">
                <i data-lucide="folder" class="icon" id="file-icon"></i>
                <label for="file-icon"><b>Folder:</b></label>
            </div>
        </div>
        <div class="file-grid-item">
            <a href=<%-`/folder/${file.folder.id}/view`%> class="folder-item"> <%- file.folder.name %></a>
        </div>
        <div class="file-grid-item">
            <div class="file-size-left">
                <i data-lucide="weight" class="icon" id="weight-icon"></i>
                <label for="weight-icon"><b>Size:</b></label>
            </div>
        </div>
        <div class="file-grid-item">
            <%- file.size %> Mbs
        </div>
    <div class="file-grid-item">
        <div class="file-date-left">
<i data-lucide="calendar" class="icon"></i>
        <label for="weight-icon"><b>Date:</b></label>
        </div>
        
    </div>
    <div class="file-grid-item"><%- `${file.upload_date.toLocaleString()}`%></div>
    </div>
    <div class="buttons-container">
            <div class="delete-file-btn-container">
                    <form action="delete" method="post">
                        <button class="delete-file-btn">
                            <i data-lucide="trash-2" class="icon" ></i>
                            Delete</button>
                    </form>
                
            </div>
            <div class="download-file-btn-container">
                
                <form action="download" method="post">
                    <button class="download-file-btn" type="submit">
                    <i data-lucide="file-down" class="icon"></i>
                    Download</button>
                </form>
                
            </div>
        </div>
        </div>
    </div>

    
</body>
<script src="https://unpkg.com/lucide@latest"></script>
<script>lucide.createIcons(); </script>
</html>